<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>УФК по Республике Дагестан</title>
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
</head>
<body>

	<div class="wrapper">


		<div class="header"> <!-- Header -->
			<a href="index.html">
			<div class="logo"> <!-- Logo -->
				<img src="./img/logo.png" alt="">
				<h1>УФК по Республике Дагестан</h1>
			</div></a>
			<div class="menu"> <!-- Menu -->
				<ul class="mainmenu">
					<li><a href="index.html">Главная</a></li>
					<li><a href="main.html">Суфд</a></li>
					<li><a href="main.html">гис</a></li>
					<li><a href="main.html">асфк</a></li>
					<li><a href="main.html">справка</a></li>
					<li><a href="main.html">асфк</a></li>
					<li><a href="main.html">справка</a></li>
				</ul>
			</div>
		</div> <!-- Header End -->

		<div class="content"> <!-- Content -->
			<!-- <img src="img/phone.png" alt="" class="phone"> -->
			<h1 class="set">СУФД</h1>
			<h4>Установка</h4>
			<div class="cont">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis explicabo ipsa quidem hic neque, ratione, tenetur voluptates rem eius iste ex modi voluptas doloribus error nemo, quos dicta maiores atque.</p>
			</div>
		</div> <!-- Content End -->

		<div class="footer"> <!-- Footer -->
			<p>
				2017 &copy; ОИС
			</p>
		</div> <!-- Footer End -->


	</div>

</body>
</html>